*{
	font-size: 15.5px;
}
body{
	background-color: white;
}
a{
	color: black;
	text-decoration: none;
	/* 取消下划线 */
}
/* 伪类 */
a:hover{/*鼠标悬停时*/
	color: #1E90FF;
	font-weight: bold;
	text-decoration: none;
}
a:visited{/*访问过的超链接标签*/
	text-decoration: none;
}

.page-sidebar{
	text-align: left;
	width: 150px;
}

.sidebar-menugroup{
	padding-bottom: 10px;
}

.sidebar-grouptitle{
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.sidebar-menu{
	letter-spacing: 3px;
	/* 字符间距 */
	list-style: none;
	padding-left: 20px;
}
#employeename,#accountname{
	border: 1px solid #A6A6A6 ;
	/*设置边框圆角*/
	border-radius: 5px;
}
