<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/style/common02.css"/>
	</head>
	<body>
		<div class="page-sidebar">
			<div class="sidebar-menugroup">
				<div class="sidebar-grouptitle">个人中心</div>
				<ul class="sidebar-menu">
					<li class="siderbar-menuitem"><a href="mynotifactionmeeting.html" target="main">最新通知</a></li>
					<li class="siderbar-menuitem"><a href="myschedulemeeting.html" target="main">我的预定</a></li>
					<li class="siderbar-menuitem"><a href="mymeetings.html" target="main">我的会议</a></li>
				</ul>
			</div>
			<div class="sidebar-menugroup">
				<div class="sidebar-grouptitle">人员管理</div>
				<ul class="sidebar-menu">
					<li class="siderbar-menuitem"><a href="departments.html" target="main">部门管理</a></li>
					<li class="siderbar-menuitem"><a href="register.html" target="main">注册审批</a></li>

					<li class="siderbar-menuitem"><a href="searchemps.html" target="main">搜索员工</a></li>
				</ul>
			</div>
			<div class="sidebar-menugroup">
				<div class="sidebar-grouptitle">会议预定</div>
				<ul class="sidebar-menu">
					<li class="siderbar-menuitem"><a href="addmeetingroom.html" target="main">添加会议室</a></li>
					<li class="siderbar-menuitem"><a href="showmeetingrooms.html" target="main">查看会议室</a></li>
					<li class="siderbar-menuitem"><a href="bookmeeting.html" target="main">预定会议</a></li>
					<li class="siderbar-menuitem"><a href="searchmeetings.html" target="main">搜索会议</a>
				</ul>
			</div>
		</div>
	</body>
</html>
