<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="style/common03.css"/>
	</head>
	<body>
		<div class="page-content">
			<div class="content-nav">人员管理>部门管理</div>
			<form>
				<fieldset>
					<legend>添加部门</legend>
					部门名称:
					<input type="text" id="departmentname" maxlength="20"/>
					<!-- maxlength="20"文本框能够输入的最大字符个数 -->
					<input type="submit" class="clickbutton" value="添加"/>
				</fieldset>
			</form>
			<table class="listtable">
				<caption>所有部门:</caption>
				<tr class="listheader">
					<th>部门编号</th>
					<th>部门名称</th>
					<th>操作</th>
				</tr>
				<tr>
					<td>1</td>
					<td>销售部</td>
					<td>
						<a class="clickbutton">编辑</a>
						<a class="clickbutton">删除</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>销售部</td>
					<td>
						<a class="clickbutton">编辑</a>
						<a class="clickbutton">删除</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>销售部</td>
					<td>
						<a class="clickbutton">编辑</a>
						<a class="clickbutton">删除</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>销售部</td>
					<td>
						<a class="clickbutton">编辑</a>
						<a class="clickbutton">删除</a>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
