<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="style/common02.css"/>
	</head>
	<body>
		<div class="page-sidebar">
			<div class="sidebar-menugroup">个人中心</div>
			<ul class="sidebar-menu">
				<li class="siderbar-menuitem"><a href="empnotificationmeeting.html" target="main">最新通知</a></li>
				<li class="siderbar-menuitem"><a href="showempschedulemeeting.html" target="main">我的预定</a></li>
				<li class="siderbar-menuitem"><a href="empmeeting.html" target="main">我的会议</a></li>
			</ul>
		</div>
		<div class="page-sidebar">
			<div class="sidebar-menugroup">会议预定</div>
			<ul class="sidebar-menu">
				<li class="siderbar-menuitem"><a href="empshowmeetingrooms.html" target="main">查看会议室</a></li>
				<li class="siderbar-menuitem"><a target="main">预定会议</a></li>
			</ul>
		</div>
	</body>
</html>
