<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="style/common03.css"/>
	</head>
	<body>
		<div class="page-content">
			<div class="content-nav">
				会议预定>修改会议预定
			</div>
			<form>
				<fieldset>
					<legend>会议信息</legend>
					<table class="formtable">
						<tr>
							<td>会议名称：</td>
							<td>市场部总结会议</td>
						</tr>
						<tr>
							<td>预计参加人数：</td>
							<td>15</td>
						</tr>
						<tr>
							<td>预计开始时间：</td>
							<td>2021-06-23 15:00</td>
						</tr>
						<tr>
							<td>预计结束时间：</td>
							<td>2021-06-23 16:00</td>
						</tr>
						<tr>
							<td>会议说明：</td>
							<td>
								<textarea id="description" rows="5" readonly="readonly">
									本会议将邀请专家参加
								</textarea>
							</td>
						</tr>
						<tr>
							<td>参会人员：</td>
							<td>
								<table class="listtable">
									<tr class="listheader">
										<th>姓名</th>
										<th>联系电话</th>
										<th>电子邮件</th>
									</tr>
									<tr>
										<td>栾</td>
										<td>18525391993</td>
										<td>123@123.com</td>
									</tr>
									<tr>
										<td>栾</td>
										<td>18525391993</td>
										<td>123@123.com</td>
									</tr>
									<tr>
										<td>栾</td>
										<td>18525391993</td>
										<td>123@123.com</td>
									</tr>
									
								</table>
							</td>
						</tr>
						<tr>
							<td class="command" colspan="2">
								<input type="button" class="clickbutton" value="撤销会议" />
								<input type="button" class="clickbutton" value="返回" onclick="window.history.back()"/>
							</td>
						</tr>
					</table>
				</fieldset>
			</form>
		</div>
	</body>
</html>
